<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${pageTitle}]]</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <link th:href="@{/css/sidebars.css}" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <script src="/js/bootstrap.bundle.min.js" ></script>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
  <div th:replace="~{fragments/header::header}"></div>
  <div layout:fragment="~{content}" class="content">

  </div>
<div th:replace="~{fragments/footer::copy}"></div>
</body>
</html>