<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:justify-content="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}">
<!--<th:block layout:fragement="css">-->
<!--    <style>-->
<!--        .fieldError {-->
<!--         color: #bd2130;-->
<!--         }-->
<!--    </style>-->
<!--</th:block>-->

<!--<th:block layout:fragment="script">-->
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function() {-->
<!--          var errorMessage = [[${errorMessage}]];-->
<!--          if(errorMessage != null) {-->
<!--            alert(errorMessage);-->
<!--                                   }-->
<!--        } );-->

<!--    </script>-->

<!--</th:block>-->

<div layout:fragment="~{content}">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td th:text="${board.title}">제목</td>
        </tr>
        </tbody>
    </table>
        <div>
            <a href="/board/write" class="btn btn-success">새글작성</a>
        </div>
</div>
</html>