<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:justify-content="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="~{content}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제 목</th>
            <th>처 리</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td>
                <a th:href="@{'/board/view/' + ${board.id} }"  th:text="${board.title}"></a>
            </td>
            <td class="btn btn-primary" >
                <a  th:href="@{'/board/update/' + ${board.id} }" >수정</a><br/>
            </td>
            <td class="btn btn-warning"  >
                <a th:href="@{'/board/delete/' + ${board.id} }" >삭제</a>
           </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

                <li class="page-item">
                   <a th:if="${currentPage > 1}"  class="page-link"  th:href="@{'/board/list/page/' + 1}">First</a>
                    <span th:unless="${currentPage > 1}"  class="page-link"  }>First</span>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/board/list/page/' + ${currentPage-1}}">Previous</a>
                    <span class="page-link" th:unless="${currentPage > 1}" >Previous</span>
                </li>

            <th:block th:each="page :  ${#numbers.sequence(firstPage, lastPage)}">
                <li th:if="${page != currentPage}" class="page-item">
                    <a class="page-link" th:href="@{'/board/list/page/' + ${page}}" th:text="${page}"></a>
                </li>
                <li th:if="${page == currentPage}" class="page-item active"  >
                    <a class="page-link"  th:text="${page}"></a>
                </li>
            </th:block>
            <li class="page-item">
                <a th:if="${currentPage < totalPages}"  class="page-link"  th:href="@{'/board/list/page/' + ${currentPage+1}}">Next</a>
                <span th:unless="${currentPage < totalPages}"  class="page-link"  }>Next</span>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/board/list/page/' + ${totalPages}}">Last</a>
                <span class="page-link" th:unless="${currentPage < totalPages}" >Last</span>
            </li>

        </ul>
    </nav>
        <div>
            <a th:href="@{/board/write}" class="btn btn-success">새글작성</a>

        </div>
</div>
</html>