<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragement="header">
    <div class="b-example-divider"></div>

     <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a th:href="@{/category/collapse}" class="nav-link px-2 text-white" >상품</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a sec:authorize="isAuthenticated()" class="nav-link px-2 text-white" th:href="@{/board/list}" >게시판</a>
                    </li>
                </ul>



                <div class="text-end">
                    <a sec:authorize="isAnonymous()" class="btn btn-outline-light me-2"  th:href="@{/members/login}" >로긴</a>
                    <a sec:authorize="isAnonymous()" class="btn btn-warning"  th:href="@{/members/new}"  >회원가입</a>
                    <a sec:authorize="isAuthenticated()" sec:authentication="name" class="text-white"></a>
                    <a sec:authorize="isAuthenticated()" class="btn btn-outline-light me-2" th:href="@{/members/logout}">로그아웃</a>
                </div>
            </div>
        </div>
    </header>

</div>
</html>