<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!--<th:block layout:fragement="css">-->
<!--    <style>-->
<!--        .fieldError {-->
<!--         color: #bd2130;-->
<!--         }-->
<!--    </style>-->
<!--</th:block>-->

<!--<th:block layout:fragment="script">-->
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function() {-->
<!--          var errorMessage = [[${errorMessage}]];-->
<!--          if(errorMessage != null) {-->
<!--            alert(errorMessage);-->
<!--                                   }-->
<!--        } );-->

<!--    </script>-->

<!--</th:block>-->

<div layout:fragment="~{content}">
    첫화면 index.html 흠냐.... 첫화면은 뭘로....
</div>
</html>